@import url("https://fonts.googleapis.com/css2?family=Geo:ital@1&display=swap");
[v-cloak] {
  opacity: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh) * 100);
  overflow: hidden;
  background-color: #f0efeb;
  color: #f7fff7;
  font-family: 'Geo', sans-serif;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.mask .popups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  max-width: 400px;
  padding: 30px 0;
  text-align: center;
  background-color: #1a535c;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}

.mask .title {
  font-size: 36px;
  color: #ffe66d;
  margin-bottom: 10px;
}

.mask .game-result {
  font-size: 30px;
  color: #ffe66d;
  margin-bottom: 10px;
}

.mask .timing {
  font-size: 24px;
  margin-bottom: 15px;
}

.mask .mode-btns {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

.mask .mode-btns div {
  border: 1px solid #ffe66d;
  display: inline-block;
  width: 45%;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  font-size: 20px;
  color: #ffe66d;
}

.mask .mode-btns .actived {
  background-color: #ffe66d;
  color: #1a535c;
}

.mask .btn {
  display: inline-block;
  width: 90%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #4ecdc4;
  font-size: 24px;
}

.countdown-mask {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  font-size: 140px;
  color: #4ecdc4;
}

.main-wrap-eazy {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.main-wrap-eazy .cards-wrap {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.main-wrap-hard {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .main-wrap-hard {
    width: 80%;
  }
}

.main-wrap-hard .cards-wrap {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}

@media screen and (max-width: 767px) {
  .main-wrap-hard .cards-wrap {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 3px;
  }
}

.card-wrap {
  padding-bottom: 120%;
  position: relative;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.card-wrap .card {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-wrap .card div {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
}

.card-wrap .card .front {
  background-image: url("../image/pokemon.png"), linear-gradient(45deg, #ffd23f 33%, #ffe66d 33%, #ffe66d 66%, #ffd23f 66%);
  background-size: 90%, 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.card-wrap .card .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #f7fff7;
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
}

.card-wrap .card.flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-wrap .card.cleared {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-animation: cleared .3s;
          animation: cleared .3s;
}

@-webkit-keyframes cleared {
  0% {
    -webkit-transform: scale(1) rotateY(180deg);
            transform: scale(1) rotateY(180deg);
  }
  70% {
    -webkit-transform: scale(1.1) rotateY(180deg);
            transform: scale(1.1) rotateY(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(180deg);
            transform: scale(1) rotateY(180deg);
  }
}

@keyframes cleared {
  0% {
    -webkit-transform: scale(1) rotateY(180deg);
            transform: scale(1) rotateY(180deg);
  }
  70% {
    -webkit-transform: scale(1.1) rotateY(180deg);
            transform: scale(1.1) rotateY(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(180deg);
            transform: scale(1) rotateY(180deg);
  }
}

.timeBar {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-top: 30px;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 15px;
}

.timeBar .time-left {
  position: absolute;
  border-radius: 15px;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #4ecdc4;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}
/*# sourceMappingURL=style.css.map */